---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"resource">;

const {
  data: { name, url, image, license },
} = Astro.props;
---

<article
  class="group rounded-lg overflow-hidden shadow-lg border dark:hover:border-brand-green-100 border-transparent hover:border-brand-green-200"
>
  <div class="relative overflow-hidden">
    <a target="_blank" href={url}>
      <img
        class="w-full group-hover:scale-125 transition-transform duration-300 ease-in-out"
        src={image}
        alt={name}
      />
    </a>
  </div>
  <div
    class="p-5 flex justify-between items-center bg-brand-green-300 dark:bg-brand-green-500"
  >
    <a href={url} target="_blank" rel="noopener noreferrer">
      <h2 class="text-xl hover:underline text-brand-white-100 dark:text-white">
        {name}
      </h2>
    </a>
    {
      license && (
        <div class="bg-brand-green-200 inline-block px-2 py-1 rounded-md">
          <a href={license.url}>
            <span class="text-zinc-100">{license.name}</span>
          </a>
        </div>
      )
    }
  </div>
</article>
